a.upvote:hover
{
	background:#fff;
	border-color:#969696;
}

.stack-sidebar
{
	position:fixed;
	right:-5px;
	top:100px;
	z-index:9;
}

.stack-sidebar a
{
	display:block;
	border:solid 1px #d1d1d1;
	border-radius:5px;
	font-size:11px;
	padding:15px;
	margin-bottom:20px;
	cursor:pointer;
	width:85px;
	text-align:center;
}

.stack-sidebar a i
{
	color:#1da1f2;
	font-size:38px;
}

.stack-sidebar a.edit
{
	background:#1da1f2;
	color:#fff;
}

.stack-sidebar a.edit i
{
	color:#fff;
}

.comment-form .col-md-1
{
	padding-left:0;
	padding-right:0;
}

.comment-comments
{
	background:#ccc;
	padding:10px;
	margin-bottom:5px;
	border-radius:5px;
}

.comment-date
{
	display:block;
	margin-bottom:20px;
}
